{{yield}}

<h1>A</h1>

{{input value="http://www.facebook.com" name="url"}}
{{textarea value="textarea text@!!" cols="80" rows="6" name="ta"}}
<button {{action "click" 'xdadjaoiejoj'}}>Send my data</button>
