{{yield}}

<h1>A</h1>

{{input value="http://www.google.com" name="url"}}
{{textarea value="textarea text@!!" cols="80" rows="6" name="userdata"}}
<button {{action "click" 'a-event'}}>Send my data</button>
